@tailwind base;
@layer base {
  h1 {
    @apply text-3xl my-4;
  }
  h2 {
    @apply text-xl my-2;
  }
  h3 {
    @apply text-lg my-2;
  }
}
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}
