@tailwind base;
@layer base {
  h1 {
    @apply text-3xl my-4;
  }
  h2 {
    @apply text-xl my-2;
  }
  h3 {
    @apply text-lg my-2;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-rendering-pixelated {
    image-rendering: pixelated;
  }
}

@layer components {
  .canvas {
    @apply absolute top-0 left-0 w-full h-full;
  }
  .slider {
    @apply range block w-full h-6 bg-white border px-1.5 rounded-full border-stone-300 appearance-none cursor-pointer dark:bg-stone-700;
  }

  .range {
    background: transparent !important;
    box-shadow: inset 0px 0px 0px 20px white;
    &::-webkit-slider-runnable-track {
      @apply bg-white;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @apply w-3 h-3 rounded-full bg-orange-600 shadow-none;
    }
    &.disabled {
      &::-webkit-slider-thumb {
        @apply bg-stone-300;
      }
    }
  }
}
@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}
